<form class="form" [formGroup]="newbook" (ngSubmit)="onSubmit()">
    <div class="form-group">
        @if (hasError('Title','required')) {
            <p class="error">Title is required</p>}
        <label class="label" for="Title">Title</label>
        <input class="input" id="Title" type="text" formControlName="title">
    </div>
    <div class="form-group">
        @if (hasError('Author','required')) {
            <p class="error">Author is required</p>}
        <label class="label" for="Author">Author:</label>
        <input class="input" id="Author" type="text" formControlName="author">
    </div>
    <div class="form-group">
        <label class="label" for="Read">Read</label>
        <input class="input" id="Read" type="checkbox" formControlName="read">
    </div>
    <button class="btn-primary" type="submit" [disabled]="newbook.invalid">Submit</button>
</form>